<h1>BLOG</h1>
{{#if blogs}}
{{#each blog}}
<h4>{{title}}</h4>
<p class='meta'>Posted in {{cat}} <br /> by {{author}} <br /> on moment({{date}}).format('DD-MM-YYYY') <br /></p>
<p class='body'>{{body}}</p>
{{/each}}
{{else}}
<p class="noblogs">There are no blogs to display.</p>
{{/if}}



<!-- <a href='/blogs/show/'+{_id}}></a>

<a href='/categories/show/'+{category}> -->
