<h1>BLOG</h1>
      {{#if posts}}
      {{#each posts}}
      <h4>{{title}}</h4>
      <p class='meta'>Posted in {{category}} <br /> by {{author}} <br /> on {{moment(date).format('DD-MM-YYYY')}} <br /></p>
      <p class='body'>{{body}}</p>
{{/each}}
{{else}}
<p class="noposts">There are no posts to display.</p>
      {{/if}}



<!-- <a href='/posts/show/'+{_id}}></a>

<a href='/categories/show/'+{category}> -->
